.gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
  margin: 1.5rem 0 2rem 1rem;
  align-items: center;
  justify-content: center;
}

.gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.gallery__item {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 267px;
  height: 200px;
}

.gallery__item img {
  height: 200px;
  border-radius: 0.25rem;
}

.gallery__btn {
  display: flex;
  background-color: var(--color-primary);
  color: white;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.gallery__btn--inactive {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (max-width: 980px) {
  .gallery {
    gap: 0.5rem;
  }

  .gallery__wrapper {
    gap: 0.5rem;
  }

  .gallery__btn {
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }
}
