@media (max-width: 600px) {
  .table th,
  .table td {
    padding: 0.75rem;
    font-size: 0.9rem;
  }

  .table {
    max-width: none;
  }
}

.table {
  width: 100%;
  max-width: 60vw;
  margin: 0 2rem;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid #e5e7eb;
}

.thead {
  text-align: left;
}

.headerRow > * {
  font-weight: 500;
  color: #1f2937; /* text-gray-900 */
  padding: 0.5rem 0.75rem;
  border-bottom: 2px solid #e5e7eb; /* divide-gray-200 */
}

.tbody {
  border-top: 1px solid #e5e7eb;
}

.dataRow:nth-child(even) {
  background-color: #f9fafb; /* even:bg-gray-50 */
}

.dataRow > * {
  color: #1f2937; /* text-gray-900 */
  padding: 0.5rem 0.75rem;
}

.dataRow > *:first-child {
  font-weight: 500;
}